:root {
    --primary-color: #1c1d20;
    --secondary-color: #4a4d57;
    --background-color: #101114;
    --accent-color: #00ffc4;
    --text-color: #f9f9f9;
    --font-family: Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: var(--text-color);
    font-family: var(--font-family) sans-serif;
    font-size: 16px;
}
body {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 800;
    color: var(--accent-color);
    text-transform: uppercase;
    text-align: center;
}
.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#task {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    font: inherit;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    background: none;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#task:focus {
    outline: none;
}
form {
    position: relative;

}
#add-task-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 0 1000px 1000px 0;
    font: inherit;
    color: var(--background-color);
    font-weight: 800;
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    border-radius: 0 1000px 1000px 0;
}

#task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    flex-grow: 1;
 }

li {
    padding: 15px 0;
    font-size: 1.2rem;
    flex-grow: 1;
}

.edit-task {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: blue;
    color: var(--text-color);
    cursor: pointer;
    width: 80px;
    margin-top: 17px;
    margin-bottom: 17px;
    border: none;
    outline: none;
    border-radius: 30px;
    font: inherit;
    padding: 0 20px;
}
.edit-task:hover {
    background-color: white;
    color: blue;

}

.delete-task {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: red;
    color: white;
    cursor: pointer;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 30px;
    font: inherit;
    padding: 0 10px;
}
.delete-task:hover {
    background-color: white;
    color: red;
}